.beanCon {
  position: relative;
  width: 100vw;
  height: 572px;
  background-image: url("../img/2022_NewYear_bean_bg.png");
  background-position: 70% center;
  background-size: cover;
}
.beanMainArea {
  position: relative;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}
.beanImgDiv {
  opacity: 0;
  position: absolute;
  top: 14%;
  left: 13.5%;
  max-width: 360px;
  width: 33.5%;
  z-index: 7;
}
.beanContent {
  opacity: 0;
  position: absolute;
  top: 32%;
  right: 8.4%;
  max-width: 405px;
  width: 37.7%;
}
.beanBtn {
  width: 125px;
  height: 38px;
  margin-top: 39px;
  border-radius: 8px;
  text-align: center;
  line-height: 38px;
  border: solid 2px #453d3d;
}
.beanContentExtent {
  color: #000;
}
.beanImgStartInAnime {
  animation: rightInFade 1.6s;
  animation-fill-mode: forwards;
}
.beanContentStartInAnime {
  animation: leftInFade 1.8s;
  animation-fill-mode: forwards;
}

.beanImgStartOutAnime {
  animation: leftOutFade 1.8s;
  animation-fill-mode: forwards;
}
.beanContentStartOutAnime {
  animation: rightOutFade 2s;
  animation-fill-mode: forwards;
}
.beanImgDiv {
  animation-fill-mode: forwards;
}
.beanContent {
  animation-fill-mode: forwards;
}
/* In */
@keyframes leftInFade {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 8.4%;
  }
}
@keyframes rightInFade {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 13.5%;
  }
}
/* Out */

@keyframes leftOutFade {
  from {
    opacity: 1;
    left: 13.5%;
  }
  to {
    opacity: 0;
    left: -100%;
  }
}
@keyframes rightOutFade {
  from {
    opacity: 1;
    right: 8.4%;
  }
  to {
    opacity: 0;
    right: -100%;
  }
}
